<div class="bg bg__yellow bg__mt pt-3 pb-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col order-2 order-md-1">
        <div class="row text-center">
          <div class="col-md-6">
            <a class="color-black" href="/">Пользовательское соглашение</a>
          </div>
          <div class="col-md-6">
            <a class="color-black" href="/">Политика конфиденциальности</a>
          </div>
        </div>
      </div>
      <div class="col order-1 order-md-2">
        <div class="h3 text-center">Мы в социальных сетях</div>
        //= social.html
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="startmodal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Для Начинающих</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="price__coast">от <span class="price__num">200</span> грн/урок</p>
        <p><strong>Уровень:</strong> beginner, elementary</p>
        <table style="border-collapse: collapse; width: 99.8788%;" >
          <tbody>
            <tr>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">60 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">60 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">90 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">90 мин.</span></td>
            </tr>
            <tr>
              <td style="width: 24.9697%; text-align: center;" >8 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >12 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >8 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >12 уроков/мес</td>
            </tr>
            <tr>
              <td style="width: 24.9697%; text-align: center;" >1600 грн / 4000 руб<p></p>
                <p><span style="color: #ff0000;">1300 грн / 3200 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >2400 грн / 5900 руб<p></p>
                <p><span style="color: #ff0000;">1900 грн / 4700 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >2400 грн / 5900 руб<p></p>
                <p><span style="color: #ff0000;">1900 грн / 4700 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >3600 грн / 8900 руб<p></p>
                <p><span style="color: #ff0000;">2900 грн / 7200 руб </span></p>
                <p>(первый месяц)</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p><strong>Вам подойдет этот курс, если:</strong><br>
          — учите язык с нуля<br>
          — знаете до 250 слов<br>
          — хотите понимать базовую грамматику</p>
        <p><strong>Цель курса:</strong><br>
          — приобрести хорошую базу слов<br>
          — преодолеть языковой барьер<br>
          — научиться использовать базовую грамматику</p>
      </div>
      <div class="modal-footer">
        <div class="h3">Закажите Курс</div>
        <a class="modal-contact text-center" href="tel:+380123123121">+38 (012) 312 312 1</a><br>
        <a class="modal-contact" href="tel:+380123123121">+38 (012) 312 312 1</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="middlemodal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Средний Уровень</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="price__coast">от <span class="price__num">200</span> грн/урок</p>
        <p><strong>Уровень:</strong> pre-intermediate, intermediate</p>
        <table style="border-collapse: collapse; width: 99.8788%;" >
          <tbody>
            <tr>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">60 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">60 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">90 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">90 мин.</span></td>
            </tr>
            <tr>
              <td style="width: 24.9697%; text-align: center;" >8 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >12 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >8 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >12 уроков/мес</td>
            </tr>
            <tr>
              <td style="width: 24.9697%; text-align: center;" >1600 грн / 4000 руб<p></p>
                <p><span style="color: #ff0000;">1300 грн / 3200 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >2400 грн / 5900 руб<p></p>
                <p><span style="color: #ff0000;">1900 грн / 4700 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >2400 грн / 5900 руб<p></p>
                <p><span style="color: #ff0000;">1900 грн / 4700 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >3600 грн / 8900 руб<p></p>
                <p><span style="color: #ff0000;">2900 грн / 7200 руб </span></p>
                <p>(первый месяц)</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p><strong>Вам подойдет этот курс, если:</strong><br>
          — хотите свободно общаться на английском<br>
          — знаете до 1500 слов<br>
          — хотите лучше понимать грамматику</p>
        <p><strong>Цель курса:</strong><br>
          — начать быстро формулировать предложения на английском<br>
          — улучшить восприятие языка на слух<br>
          — научиться чувствовать язык</p>
      </div>
      <div class="modal-footer">
        <div class="h3">Закажите Курс</div>
        <a class="modal-contact text-center" href="tel:+380123123121">+38 (012) 312 312 1</a><br>
        <a class="modal-contact" href="tel:+380123123121">+38 (012) 312 312 1</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="promodal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Продвинутый</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="price__coast">от <span class="price__num">200</span> грн/урок</p>
        <p><strong>Уровень:</strong> upper-intermediate, advanced</p>
        <table style="border-collapse: collapse; width: 99.8788%;" >
          <tbody>
            <tr>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">60 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">60 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">90 мин.</span></td>
              <td style="width: 24.9697%; text-align: center;" ><span style="color: #ff0000;">90 мин.</span></td>
            </tr>
            <tr>
              <td style="width: 24.9697%; text-align: center;" >8 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >12 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >8 уроков/мес</td>
              <td style="width: 24.9697%; text-align: center;" >12 уроков/мес</td>
            </tr>
            <tr>
              <td style="width: 24.9697%; text-align: center;" >1600 грн / 4000 руб<p></p>
                <p><span style="color: #ff0000;">1300 грн / 3200 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >2400 грн / 5900 руб<p></p>
                <p><span style="color: #ff0000;">1900 грн / 4700 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >2400 грн / 5900 руб<p></p>
                <p><span style="color: #ff0000;">1900 грн / 4700 руб</span></p>
                <p>(первый месяц)</p>
              </td>
              <td style="width: 24.9697%; text-align: center;" >3600 грн / 8900 руб<p></p>
                <p><span style="color: #ff0000;">2900 грн / 7200 руб </span></p>
                <p>(первый месяц)</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p><strong>Вам подойдет этот курс, если:</strong><br>
          — хотите стать экспертом или хотите сдать международные экзамены<br>
          — знаете до 2500 слов<br>
          — хотите понимать все тонкости грамматики</p>
        <p><strong>Цель курса:</strong><br>
          — углубиться во все тонкости грамматики<br>
          — научиться понимать неадаптированный тексты и стать экспертом в шутках<br>
          — получить максимум разговорной практики</p>
      </div>
      <div class="modal-footer">
        <div class="h3">Закажите Курс</div>
        <a class="modal-contact text-center" href="tel:+380123123121">+38 (012) 312 312 1</a><br>
        <a class="modal-contact" href="tel:+380123123121">+38 (012) 312 312 1</a>
      </div>
    </div>
  </div>
</div>
<script src="js/scroll.js"></script>
<script src="js/toogleMenu.js"></script>
<script src="js/moveTo.min.js"></script>
