<div class="bg bg__red-white bg__mt call-back" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center ">
        <h3 class="text-center mb-3 call-back__text ">Запишись на Пробный Урок Прямо Сейчас</h3>
      </div>
      <div class="col-md-6 call-back__form text-center">
        <p class="h3 pb-3 text-center">Воспользуйтесь предложением</p>
        <div class="h3">Напишите Нам на почту</div>
        <a class="footer-contact" href="mailto:office@course.com">office@course.com</a>
        <div class="h3">Позвоните Нам</div>
        <a class="footer-contact" href="tel:+380123123121">+38 (012) 312 312 1</a><br>
        <a class="footer-contact" href="tel:+380123123121">+38 (012) 312 312 1</a>
      </div>
    </div>
  </div>
</div>
