
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
    <div class="collapse navbar-collapse d-none d-lg-block">
      <ul class="nav navbar-nav menu__list">
        <li class="nav-item menu__item">
          <a class="nav-link" href="#">главная</a>
        </li>
        <li class="nav-item menu__item">
          <a class="nav-link" href="#">видео</a>
        </li>
      </ul>
      <ul class="nav navbar-nav menu__list ml-auto">
        <li class="nav-item menu__item">
          <a class="nav-link" href="#">контакты</a>
        </li>
        <li class="nav-item menu__item">
          <a class="nav-link" href="#">о нас</a>
        </li>
      </ul>
    </div>
    <div class="menu_bars d-sm-none d-inline-block">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
