<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
    <div class="collapse navbar-collapse d-none d-lg-block">
      <ul class="nav navbar-nav menu__list">
        <li class="nav-item menu__item">
          <a class="nav-link" href="/">главная</a>
        </li>
        <li class="nav-item menu__item">
          <a class="nav-link js-trigger" href="#about">о нас</a>
        </li>
        <li class="nav-item menu__item">
          <a class="nav-link js-trigger" href="#contact">контакты</a>
        </li>
      </ul>
      <ul class="nav navbar-nav menu__list ml-auto">
        <li class="nav-item menu__item">
          <a class="nav-link link-color" href="/video.html">видео-курс</a>
        </li>
        <li class="nav-item menu__item">
          <a class="nav-link" href="/programm.html">программа</a>
        </li>
      </ul>
    </div>
    <div class="menu_bars d-lg-none d-inline-block">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
