
<nav class="navbar navbar-expand-lg navbar-light">
  <a href="/" class="navbar-brand">logo</a>
  <div class="collapse navbar-collapse d-none d-lg-block">
    <ul class="nav navbar-nav menu__list">
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <ul class="nav navbar-nav menu__list">
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item menu__item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
