<div class="mobile-menu">
  <div class="mobile-menu__quit"></div>
  <ul class="nav navbar-nav menu__list text-center pt-5">
    <li class="nav-item menu__item">
      <a class="nav-link mobile-menu__link-color" href="/">главная</a>
    </li>
    <li class="nav-item menu__item">
      <a class="nav-link mobile-menu__link-color js-trigger" href="#about">о нас</a>
    </li>
    <li class="nav-item menu__item">
      <a class="nav-link mobile-menu__link-color js-trigger" href="#contact">контакты</a>
    </li>
    <li class="nav-item menu__item">
      <a class="nav-link mobile-menu__link-color" href="/video.html">видеоуроки</a>
    </li>
    <li class="nav-item menu__item">
      <a class="nav-link mobile-menu__link-color" href="/programm">программа</a>
    </li>
  </ul>
</div>
