/* main style */
/* main style end*/
/* media queries mixin*/
/* media queries mixin end*/
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fe1a3b;
}

.nav-link.active {
  color: #fe1a3b;
  border-bottom: 2px solid #fe1a3b;
}

.modal-body {
  color: #000;
}

.modal-header {
  background-color: #fe1a3b;
}

.modal-content {
  border: none;
}

.modal-footer {
  display: block;
  background-color: #fe1a3b;
}

.close {
  color: #fff;
}

.btn {
  background: #fe1a3b;
  color: #fff;
  margin: 0 5px;
  padding: 11px 28px;
  border-radius: 25px;
}

.btn__yellow {
  background: #f1c30f;
}

.title {
  padding-bottom: 30px;
}

.description {
  color: #fe1a3b;
}

.description__yellow {
  color: #f1c30f;
}

.call-back {
  background-image: url(../img/form-bg.jpg);
  background-size: cover;
}

.call-back__form {
  background-color: #fe1a3b;
}

.logo {
  position: relative;
}

@media (min-width: 992px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bottom-nav {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: background-color .5s;
  z-index: 1;
  padding: 5px 0;
}

.bottom-nav--a {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: auto;
}

.menu_bars {
  position: absolute;
  right: 30px;
  padding: 5px;
  width: 38px;
  cursor: pointer;
  z-index: 21;
}

.menu_bars span {
  background: #18191d;
  width: 30px;
  height: 1px;
  display: block;
}

.menu_bars span:nth-child(2) {
  margin: 5px 0;
}

.menu_bars span:nth-child(1), .menu_bars span:nth-child(3) {
  width: 20px;
  margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  margin: 0 1rem;
}

.header {
  display: flex;
  background-image: url("../img/top-img.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.header__content {
  margin: auto;
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.header__description {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.header__btn {
  padding: 15px 0;
}

.services {
  padding: 60px 0;
  z-index: 0;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
}

.services__title {
  padding-bottom: 30px;
}

.services__description {
  color: #fe1a3b;
}

.services__svg {
  fill: #f1c30f;
}

.price {
  background-image: url("../img/yellow-center-2.png");
  background-size: cover;
  color: #fff;
  padding-top: 60px;
}

.price__text {
  padding-bottom: 15px;
  border-bottom: 1px dashed #fff;
}

.price__num {
  font-size: 30px;
  font-weight: 700;
}

.about {
  color: #fff;
  padding-top: 60px;
  background-image: url("../img/red-center.jpg");
  background-size: cover;
}
