.logo {
  position: relative;
  @include lg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  };
}

.fixed-nav {
  position: fixed;
  background-image: url('../img/mobile-bg.png');
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  z-index: 1;
  padding-bottom: 15px;
  top: 0;
}

.bottom-nav {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: background-color .5s;
  z-index: 1;
  padding: 5px 0;
  margin-bottom: 20px;

  &--fixed {
    position: fixed;
    background-image: url('../img/mobile-bg.png');
    background-position: bottom center;
    background-size: cover;
    padding-bottom: 15px;
    top: 0;
    bottom: auto;
  }
}

.menu_bars {
  position: absolute;
  right: 30px;
  padding: 5px;
  width: 38px;
  cursor: pointer;
  z-index: 21;

  & span {
    background: #18191d;
    width: 30px;
    height: 2px;
    display: block;
    &:nth-child(2) {
      margin: 5px 0;
    }

    &:nth-child(1), &:nth-child(3) {
      width: 20px;
      margin: 0 auto;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin: 0 1rem;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(150vw);
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center center;
  font-size: 32px;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  z-index: 2;

  &--active {
    transform: translateX(0);
  }

  &__link-color {
    color: #000;
  }

  &__quit {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 55px;
    height: 55px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 10px;
      width: 26px;
      height: 2px;
      background: #000;
      transform: rotate(-45deg);
    }

    &::before{
      content: "";
      position: absolute;
      top: 21px;
      left: 10px;
      width: 26px;
      height: 2px;
      background: #000;
      transform: rotate(45deg);
    }
  }
}
