h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.nav-link {
  color: #fff;
  transition: color .3s linear;
  &:hover {
    color: $color-red;
  }

  &.active {
    color: $color-red;
    border-bottom: 2px solid $color-red;
  }
}

a {
  color: #fff;
  transition: color .3s linear;
  &:hover {
    color: #ccc;
    text-decoration: none;
  }
}

.modal-body {
  color: #000;
}

.modal-header {
  background-color: $color-red;
}

.modal-content {
  border: none;
}

.modal-footer {
  display: block;
  text-align: center;
  color: #fff;
  background-color: $color-red;
}

.close {
  color: #fff;
}

.modal-contact {
  font-size: 34px;
  font-weight: 700;
}
