
/* main style */

$color-red: #fe1a3b;
$color-yellow: #f1c30f;

/* main style end*/

/* media queries mixin*/

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* media queries mixin end*/
